.continue-button {
  background-color: var(--pf-v5-global--success-color--100) !important;
  margin-right: 10px;
}

.retake-button {
  background-color: var(--pf-v5-global--warning-color--100) !important  ;
  margin-right: 10px;
}

.actions-col {
  vertical-align: middle !important;
}
