.panel-style {
  background: none;
}

/* do NOT change background-color or box-shadow on hover with the TargetCard is selectable */
.target-card.pf-m-selectable {
  --pf-v5-c-card--m-selectable--hover--BackgroundColor: var(
    --pf-v5-c-card--BackgroundColor
  );
  /*
  --pf-v5-c-card--m-selectable--hover--BoxShadow: var(
    --pf-v5-c-card--BoxShadow
  );
  */
}

/*
  A way to force the select box to always have a white background,
  even when the card is selected
*/
/*
.target-label-choice-container {
  background-color: var(--pf-v5-global--BackgroundColor--100);
}
*/

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
