# Library, IDE and build locations
**/node_modules/
**/coverage/
**/dist/
.vscode/
.idea/
.eslintcache/
.gitignore
LICENSE
license-checker-config.json

cypress/downloads/
cypress/reports/
cypress/screenshots/

#
# NOTE: Could ignore anything that eslint will look at since eslint also applies
#       prettier.
#


