# Library, IDE and build locations
**/node_modules/
**/coverage/
**/dist/
**/generated/
.vscode/
.idea/
.eslintcache/

cypress/cypress/
cypress/run/

#
# Ignore anything that eslint will look at since eslint also applies prettier.
#
**/*.js
**/*.jsx
**/*.cjs
**/*.mjs

**/*.ts
**/*.tsx
**/*.cts
**/*.mts
