.drawer-tabs-container {
  flex-grow: 1;
  position: relative;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.drawer-tabs-container .pf-v5-c-tabs {
  --pf-v5-c-tabs__scroll-button--Width: 2.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.drawer-tabs-container > :not(.pf-v5-c-tabs) {
  flex-grow: 1;
  position: relative;
  min-height: 0; /* keep the content from growing beyond the .drawer-tabs-container */
}

.drawer-tabs-container .drawer-tab-content {
  height: 100%;
  overflow-y: auto;
}

.drawer-tabs-container .drawer-tab-content__section {
  padding-block-start: var(--pf-v5-global--spacer--md);
}

.drawer-tabs-container .drawer-tab-content__section h4 {
  margin-block-end: var(--pf-v5-global--spacer--xs);
}

.drawer-tabs-container .drawer-tab-content__section-content {
  padding-left: var(--pf-v5-global--spacer--sm);
}
