.logo-pointer {
  cursor: default !important;
}

.logo-container {
  display: flex;
  align-items: center;
  /** remove the built-in limit on the width of the logo 
  * as it breaks for long titles  
  */
  width: unset;
}
