/*
  Hacks necessary for the drawer to always use full page height
  This is because the structure of the HTML for pf-v5-c-page__drawer does not match the HTML demo at https://www.patternfly.org/v4/components/drawer/html-demos/expanded/
  We could fix that by using the `notificationDrawer` prop of the Page component, but it doesn't support passing the props we need to `DrawerPanelContent`.
  TODO: Open this as a bug in PF, add a prop to allow that, and switch to that structure in order to remove this hack.
*/
/* TODO PF V5 - Obsolete ? */
.pf-v5-c-page__drawer {
  min-height: 100%;
}
.pf-v5-c-drawer__body:last-child {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
}
