.platform-name-popover {
  --pf-c-popover__header--MarginBlockEnd: 1rem;
}

.platform-name-popover .pf-c-popover__title {
  flex-grow: 1;
}

.platform-name-popover .pf-c-popover__title-text {
  flex-grow: 1;
}
