.tabs-vertical-container {
  display: flex;
  margin-top: 1.5em;
}

.tabs-vertical-container__tabs {
  margin-top: 1.5em;
}

.tabs-vertical-container .pf-v5-c-tabs {
  width: 20%;
}

.tabs-vertical-container .pf-v5-c-tab-content {
  width: 80%;
}
