.perspective > button {
  height: 3.5em;
  background-color: #212427;
  color: white;
  border-bottom: 1px solid #4f5255;
}

.perspective .pf-c-select__toggle::before {
  border: 0;
  border-width: 0;
  outline: 0;
}
.perspective > ul {
  background-color: #212427;
  border: 1px solid #4f5255;
}
.perspective > ul > li.button {
  color: white;
}
.perspective .pf-c-select__menu-item {
  color: white;
}

.perspective .pf-c-select__menu-item:hover {
  background-color: #4f5255;
  color: white;
}
