.pf-c-select {
  --pf-global--Color--100: var(--pf-global--palette--white);
  --pf-global--BorderColor--100: var(--pf-global--palette--black-600);
  --pf-c-select__menu--BackgroundColor: var(--pf-global--palette--black-850);
  --pf-c-select__menu-item--Color: var(--pf-global--palette--white);
  --pf-c-select__menu-item--hover--BackgroundColor: var(
    --pf-global--palette--black-600
  );
  --pf-c-select__toggle--BackgroundColor: var(--pf-global--palette--black-850);
  --pf-c-select__toggle--active--before--BorderBottomColor: var(
    --pf-global--palette--white
  );
  --pf-c-select__toggle--m-expanded--before--BorderBottomColor: var(
    --pf-global--palette--black-600
  );
}
