name: CI (test image build for a PR with build related changes)

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "hack/**"
      - "*.md"
    branches:
      - "main"
      - "release-*"

  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest
    outputs:
      should-test: ${{ steps.check-changes.outputs.should-test }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: What files changed?
        id: changed
        uses: tj-actions/changed-files@823fcebdb31bb35fdf2229d9f769b400309430d0 # v46
        with:
          files: |
            Dockerfile
            **/package.json
            package-lock.json
            .github/workflows/ci-image-build.yml

      - name: Check if build related files have been changed in a PR
        id: check-changes
        env:
          IS_PR: ${{ !!github.event.pull_request }}
          ANY_MODIFIED: ${{ steps.changed.outputs.any_modified }}
        run: |
          TEST_IMAGE_BUILD=$(
            if [[ $IS_PR == true ]] && [[ $ANY_MODIFIED == true ]]; then
              echo "true"
            else
              echo "false"
            fi
          )

          echo "is-pr=$IS_PR" >> "$GITHUB_OUTPUT"
          echo "changed=${ANY_MODIFIED:-false}" >> "$GITHUB_OUTPUT"
          echo "should-test=$TEST_IMAGE_BUILD" >> "$GITHUB_OUTPUT"

      - name: Summarize findings
        env:
          MODIFIED_FILES: ${{ steps.changed.outputs.all_modified_files }}
        run: |
          cat >> "$GITHUB_STEP_SUMMARY" <<EOF
          ## Findings
          PR triggered? \`${{ steps.check-changes.outputs.is-pr }}\`
          PR includes a build file related change? \`${{ steps.check-changes.outputs.changed }}\`
          Should the image build be tested? \`${{ steps.check-changes.outputs.should-test }}\`
          EOF

          if [[ -n "$MODIFIED_FILES" ]]; then
            echo "## Build related modified files" >> "$GITHUB_STEP_SUMMARY"
            for file in ${MODIFIED_FILES}; do
              echo "  - \`$file\`" >> "$GITHUB_STEP_SUMMARY"
            done
          fi

  #
  # Based on:
  #   - image-build.yaml
  #   - konveyor/release-tools/.github/workflows/build-push-images.yaml@main
  #
  # Only test the image build, no push to quay is required.
  #
  test-image-build:
    needs: checks
    if: ${{ needs.checks.outputs.should-test == 'true' || github.event_name == 'workflow_dispatch' }}

    strategy:
      fail-fast: true
      matrix:
        include: # keep this list in sync with `image-build.yaml`
          - architecture: amd64
            runs-on: ubuntu-24.04
            needs-qemu: no
          - architecture: arm64
            runs-on: ubuntu-24.04-arm
            needs-qemu: no

    runs-on: ${{ matrix.runs-on }}

    concurrency:
      group: test-image-build-${{ matrix.architecture }}_${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout merge commit for PR${{ github.event.pull_request.number }}
        uses: actions/checkout@v4

      - name: Setup QEMU to be able to build on ${{ matrix.architecture }}
        if: ${{ matrix.needs-qemu == 'yes' }}
        uses: docker/setup-qemu-action@master
        with:
          platforms: ${{ matrix.architecture }}

      - name: Test build image on ${{ matrix.architecture }}
        id: test-build
        uses: redhat-actions/buildah-build@main
        with:
          image: "tackle2-ui"
          tags: pr${{ github.event.pull_request.number }}-${{ matrix.architecture }}
          extra-args: "--no-cache --rm --ulimit nofile=4096:4096"
          archs: ${{ matrix.architecture }}
          labels: ""
          containerfiles: "./Dockerfile"
          context: "."
