name: CI (repo level)

on:
  push:
    branches:
      - "main"
      - "release-*"

  pull_request:
    branches:
      - "main"
      - "release-*"

  workflow_dispatch:

  workflow_call:

concurrency:
  group: ci-repo-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test-lookup:
    runs-on: ubuntu-latest
    outputs:
      builder-image: ${{ steps.grepBuilder.outputs.builder }}
      should-test: ${{ steps.check-changes.outputs.should-test }}
      should-build: ${{ steps.check-changes.outputs.should-build }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lookup builder image from the project's Dockerfile
        id: grepBuilder
        run: |
          builder=$(grep 'as builder' Dockerfile | sed -e 's/^FROM \(.*\) as builder$/\1/')
          echo "builder=$builder" >> "$GITHUB_OUTPUT"

      - name: Did only docs and hacks change?
        id: docs-and-hacks-only
        uses: tj-actions/changed-files@823fcebdb31bb35fdf2229d9f769b400309430d0 # v46
        with:
          files: |
            docs/**
            hack/**
            *.md

      - name: Did only cypress change?
        id: cypress-only
        uses: tj-actions/changed-files@823fcebdb31bb35fdf2229d9f769b400309430d0 # v46
        with:
          files: |
            cypress/**

      - name: Check what types of changes have been made in a PR
        id: check-changes
        env:
          IS_PR: ${{ !!github.event.pull_request }}
          ONLY_DOCS_HACKS: ${{ steps.docs-and-hacks-only.outputs.only_modified }}
          ONLY_CYPRESS: ${{ steps.cypress-only.outputs.only_modified }}
        run: |
          # should-test: Skip unit-tests if changes are exclusively to docs/hacks
          SHOULD_TEST=$(
            if [[ $IS_PR == true ]] && [[ $ONLY_DOCS_HACKS == true ]]; then
              echo "false"
            else
              echo "true"
            fi
          )

          # should-build: Skip build and unit tests if changes are only to cypress (no application source changes)
          SHOULD_BUILD=$(
            if [[ $IS_PR == true ]] && [[ $ONLY_CYPRESS == true ]]; then
              echo "false"
            else
              echo "true"
            fi
          )

          echo "is-pr=$IS_PR" >> "$GITHUB_OUTPUT"
          echo "changes_only_docs_hacks=${ONLY_DOCS_HACKS:-false}" >> "$GITHUB_OUTPUT"
          echo "changes_only_cypress=${ONLY_CYPRESS:-false}" >> "$GITHUB_OUTPUT"
          echo "should-test=$SHOULD_TEST" >> "$GITHUB_OUTPUT"
          echo "should-build=$SHOULD_BUILD" >> "$GITHUB_OUTPUT"

      - name: Summarize findings
        env:
          ONLY_DOCS_HACKS: ${{ steps.docs-and-hacks-only.outputs.only_modified }}
          ONLY_CYPRESS: ${{ steps.cypress-only.outputs.only_modified }}
          MODIFIED_DOCS_HACKS: ${{ steps.docs-and-hacks-only.outputs.all_modified_files }}
          MODIFIED_CYPRESS: ${{ steps.cypress-only.outputs.all_modified_files }}
        run: |
          cat >> "$GITHUB_STEP_SUMMARY" <<EOF
          ## Build container
            - CI will run on container: \`${{ steps.grepBuilder.outputs.builder }}\`

          ## Findings
            - The action is PR triggered? \`${{ steps.check-changes.outputs.is-pr }}\`
            - Changes are only to docs and hacks? \`${{ steps.check-changes.outputs.changes_only_docs_hacks }}\`
            - Changes are only to cypress? \`${{ steps.check-changes.outputs.changes_only_cypress }}\`
            - Should the unit test job run? \`${{ steps.check-changes.outputs.should-test }}\`
            - Should the build and test steps run? \`${{ steps.check-changes.outputs.should-build }}\`
          EOF

          if [[ $ONLY_DOCS_HACKS == true ]] && [[ -n "$MODIFIED_DOCS_HACKS" ]]; then
            echo "## Modified files that do not impact the unit-test" >> "$GITHUB_STEP_SUMMARY"
            for file in ${MODIFIED_DOCS_HACKS}; do
              echo "  - \`$file\`" >> "$GITHUB_STEP_SUMMARY"
            done
          fi

          if [[ $ONLY_CYPRESS == true ]] && [[ -n "$MODIFIED_CYPRESS" ]]; then
            echo "## Modified files that do not impact the unit-test build and test" >> "$GITHUB_STEP_SUMMARY"
            for file in ${MODIFIED_CYPRESS}; do
              echo "  - \`$file\`" >> "$GITHUB_STEP_SUMMARY"
            done
          fi

  unit-test:
    runs-on: ubuntu-latest
    needs: unit-test-lookup
    if: ${{ needs.unit-test-lookup.outputs.should-test == 'true' }}

    # Use the same container as the Dockerfile's "FROM * as builder"
    container: ${{ needs.unit-test-lookup.outputs.builder-image }}

    steps:
      - uses: actions/checkout@v4

      # TODO: Setup a cache for npm so it could install faster
      #       follow actions/setup-node@v4 techniques

      - name: Verify package-lock.json
        run: ./scripts/verify_lock.mjs

      - name: Install
        run: |
          npm version
          npm clean-install --ignore-scripts

      - name: Lint sources
        run: |
          npm run postinstall
          npm run format:check
          npm run lint

      - name: Build
        if: ${{ needs.unit-test-lookup.outputs.should-build == 'true' }}
        run: npm run build

      - name: Test
        if: ${{ needs.unit-test-lookup.outputs.should-build == 'true' }}
        run: npm run test -- --coverage --watchAll=false
