name: e2e - run UI tests on minikube

on:
  workflow_call: # call from another workflow
    inputs:
      test_tags:
        type: string
        default: "@ci,@tier0"

      test_spec:
        type: string
        default: ""
        description: "Comma separated test file paths (overrides test_tags)"

      feature_auth_required:
        type: boolean
        default: false

      bundle_image:
        type: string
        default: quay.io/konveyor/tackle2-operator-bundle:latest

      install_konveyor_version:
        type: string
        default: main

      test_ref:
        type: string
        default: main

  workflow_dispatch: # start from GitHub UI or API
    inputs:
      test_tags:
        description: Comma separated list of test tags to run
        type: string
        default: "@ci,@tier0"

      test_spec:
        description: Comma separated test file paths (overrides test_tags)
        type: string
        default: ""

      feature_auth_required:
        description: Enable authentication?
        type: boolean
        default: false

      bundle_image:
        description: Operator bundle image to use
        type: string
        default: quay.io/konveyor/tackle2-operator-bundle:latest

      install_konveyor_version:
        description: Ref in operator repo to use for the install-konveyor action
        type: string
        default: main

      test_ref:
        description: Ref in this repo to use for the tests
        type: string
        default: main

jobs:
  run-test:
    name: "Run tests - ${{ inputs.feature_auth_required && 'auth' || 'noauth' }}, test: ${{ inputs.test_ref }}, ${{ inputs.test_spec != '' && 'spec: custom paths' || format('tags: {0}', inputs.test_tags) }}"
    runs-on: ubuntu-latest

    steps:
      - name: Setup minikube
        uses: konveyor/operator/.github/actions/start-minikube@main
        with:
          memory: "max"
          cpus: "max"

      - name: Checkout the operator so we can pick the install-konveyor version to use dynamically
        uses: actions/checkout@v4
        with:
          repository: konveyor/operator
          ref: ${{ inputs.install_konveyor_version }}
          path: konveyor-operator

      - name: "Install konveyor using ${{ inputs.install_konveyor_version }}"
        uses: ./konveyor-operator/.github/actions/install-konveyor
        with:
          bundle_image: ${{ inputs.bundle_image }}
          tackle_cr: |
            kind: Tackle
            apiVersion: tackle.konveyor.io/v1alpha1
            metadata:
              name: tackle
            spec:
              image_pull_policy: IfNotPresent
              feature_auth_required: ${{ inputs.feature_auth_required }}

      - name: Wait for Ingress
        run: |
          kubectl wait \
            -n konveyor-tackle \
            ingress/tackle \
            --timeout=600s \
            --for=jsonpath='{.status.loadBalancer.ingress[0]}'

          minikube_ip=$(minikube ip)
          echo "ingress is ready at: ${minikube_ip}"
          echo "UI_URL=https://${minikube_ip}" >>$GITHUB_ENV

      - name: "Checkout the repo (ref: ${{ inputs.test_ref }})"
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.test_ref }}
          path: tackle2-ui

      - name: "Run UI tests"
        uses: ./tackle2-ui/.github/actions/run-ui-tests
        with:
          test_tags: ${{ inputs.test_tags }}
          test_spec: ${{ inputs.test_spec }}
          tests_ref: ${{ inputs.test_ref }}
          base_url: ${{ env.UI_URL }}
