name: e2e - run all non-analysis tests nightly (@main)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: e2e-nightly-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nightly-auth:
    name: "Nightly auth - all tiers"
    uses: ./.github/workflows/e2e-run-ui-tests.yaml
    with:
      test_tags: "@ci,@tier0,@tier2,@tier3"
      feature_auth_required: true
      bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
      install_konveyor_version: main
      test_ref: main
    secrets: inherit

  nightly-noauth:
    name: "Nightly noauth - all tiers"
    uses: ./.github/workflows/e2e-run-ui-tests.yaml
    with:
      test_tags: "@ci,@tier0,@tier2,@tier3"
      feature_auth_required: false
      bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
      install_konveyor_version: main
      test_ref: main
    secrets: inherit
