name: e2e - run cypress tests for PRs/pushes

on:
  push:
    branches:
      - main
      - fix_metrics_url_issue # TEMPORARY: for testing metrics endpoint fix
    paths:
      - "cypress/**"
      - ".github/workflows/e2e*.yaml" # Also trigger on workflow changes

  pull_request_target:
    branches:
      - main
    paths:
      - "cypress/**"
      - ".github/workflows/e2e*.yaml"

concurrency:
  group: e2e-repo-main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # TODO: If changes are only cypress related, we don't need to build the UI image.
  build-ui-image-if-needed:
    runs-on: ubuntu-latest
    outputs:
      ui_image: ${{ steps.build-ui-image.outputs.ui_image }}
    steps:
      - uses: actions/checkout@v6

      - name: Build UI image
        id: build-ui-image
        env:
          IMG_NAME: ttl.sh/tackle2-ui-e2e-${{ github.sha }}:2h
        run: |
          echo "ui_image=${IMG_NAME}" >> "$GITHUB_OUTPUT"
          docker build . -t ${IMG_NAME}
          docker push ${IMG_NAME}

  e2e-tests:
    needs: build-ui-image-if-needed
    uses: ./.github/workflows/e2e-run-ui-tests.yaml
    with:
      # TEMPORARY: Testing oc/kubectl fix, Jira export, and task manager tests
      test_spec: "**/e2e/tests/administration/repository/maven.test.ts,**/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts,**/e2e/tests/migration/task-manager/miscellaneous.test.ts"
      feature_auth_required: false
      bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
      install_konveyor_version: ${{ github.base_ref || github.ref_name }}
      test_ref: ${{ github.event.pull_request.head.sha || github.sha }}
      ui_image: ${{ needs.build-ui-image-if-needed.outputs.ui_image }}
    secrets: inherit
