name: e2e - run all(but analysis) tests nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: e2e-nightly-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nightly:
    strategy:
      fail-fast: false
      matrix:
        test_tags:
          - "@ci"
          - "@tier0"
          - "@tier2"
          - "@tier3"
        feature_auth_required:
          - true
          - false
        refs:
          - bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
            install_konveyor_version: main
            test: main

    name: "Nightly ${{ matrix.feature_auth_required && 'auth' || 'noauth' }}, test ref: ${{ matrix.refs.test }}, ${{ matrix.test_tags }}"
    uses: ./.github/workflows/e2e-run-ui-tests.yaml
    with:
      test_tags: ${{ matrix.test_tags }}
      feature_auth_required: ${{ matrix.feature_auth_required }}
      bundle_image: ${{ matrix.refs.bundle_image }}
      install_konveyor_version: ${{ matrix.refs.install_konveyor_version }}
      test_ref: ${{ matrix.refs.test }}
