name: Test Metrics (Temporary)

on:
  workflow_dispatch:
    inputs:
      test_branch:
        description: "Branch to test"
        required: true
        default: "fix_jira_crud_test"

concurrency:
  group: test-metrics-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-metrics:
    name: "Test metrics endpoint exposure"
    uses: ./.github/workflows/e2e-run-ui-tests.yaml
    with:
      test_tags: "@tier2"
      feature_auth_required: false
      bundle_image: quay.io/konveyor/tackle2-operator-bundle:latest
      install_konveyor_version: main
      test_ref: ${{ inputs.test_branch }}
    secrets: inherit
